-- NOTE - before you run this script to create an SQL Agent job
--        make the required changed, see comments below.

-- This script will create an SQL agent job that runs every two hours
-- and updates the AD_DW database with information from your Active Directory.

USE [msdb]
GO
DECLARE @jobId BINARY(16)
EXEC  msdb.dbo.sp_add_job @job_name=N'Update AD_DW', 
		@enabled=1, 
		@notify_level_eventlog=0, 
		@notify_level_email=2, 
		@notify_level_netsend=2, 
		@notify_level_page=2, 
		@delete_level=0, 
		@description=N'Update AD_DW database with data from Active Directory', 
		@category_name=N'Data Collector', 
		@owner_login_name=N'sa', 
		@notify_email_operator_name=N'contoso_admin',					-- <- Set operator name
		@job_id = @jobId OUTPUT
select @jobId
GO
EXEC msdb.dbo.sp_add_jobserver 
	@job_name=N'Update AD_DW', 
	@server_name = N'CONTOSO\DEVELOPMENT'								-- <- Set SQL server name
GO
USE [msdb]
GO
EXEC msdb.dbo.sp_add_jobstep @job_name=N'Update AD_DW', @step_name=N'Call usp_UpdateADall_tables', 
		@step_id=1, 
		@cmdexec_success_code=0, 
		@on_success_action=1, 
		@on_fail_action=2, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=														-- <- Set your domain
N'DECLARE @ADpath nvarchar(64) = ''LDAP://DC=contoso,DC=com'';
EXECUTE [dbo].[usp_UpdateADall_tables] 
   @ADpath
', 
		@database_name=N'AD_DW', 
		@output_file_name=N'C:\Scripts\Update_AD_DW.txt',				-- <- Set filename for output
		@flags=0
GO
USE [msdb]
GO
EXEC msdb.dbo.sp_update_job @job_name=N'Update AD_DW', 
		@enabled=1, 
		@start_step_id=1, 
		@notify_level_eventlog=0, 
		@notify_level_email=2, 
		@notify_level_netsend=2, 
		@notify_level_page=2, 
		@delete_level=0, 
		@description=N'Update AD_DW database with data from Active Directory', 
		@category_name=N'Data Collector', 
		@owner_login_name=N'sa', 
		@notify_email_operator_name=N'contoso_admin',					-- <- Set operator name
		@notify_netsend_operator_name=N'', 
		@notify_page_operator_name=N''
GO
USE [msdb]
GO
DECLARE @schedule_id int
EXEC msdb.dbo.sp_add_jobschedule @job_name=N'Update AD_DW', @name=N'sch_Update_AD_DW', 
		@enabled=1, 
		@freq_type=4, 
		@freq_interval=1, 
		@freq_subday_type=8, 
		@freq_subday_interval=2, 
		@freq_relative_interval=0, 
		@freq_recurrence_factor=1, 
		@active_start_date=20160103, 
		@active_end_date=99991231, 
		@active_start_time=500, 
		@active_end_time=235959, @schedule_id = @schedule_id OUTPUT
select @schedule_id
GO
